.App {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.my-row {
  text-align: left;
  padding: 4px;
}

.my-input-group {
  width: 100%;
}


.flag {
  height: 32px;
  margin: 4px;
  width: 48px;
}

.App-logo {
  height: 80px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.libs-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;

}

.App-header {
  background-color: #222;
  height: 166px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
